body {
    background-color:darkgray
}

.home-info-grey {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color:gainsboro
}

.home-info-grey h2 {
    color:darkcyan;
    font-weight: 700;
    font-size: 30px;
    font-style:oblique;
	text-align: center;
}

.home-info-grey p {
    color:black;
    font-weight: 500;
    font-size: 18px;
	text-align: center;
}

.drop-cap {
    margin-right: 25px;
    float: left;
    text-align: center;
    line-height: 1;
    font-size: 50px
}
